*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: dunbar-low, sans-serif;
    font-family: 'Dunbar Text', sans-serif;
}

button{
    border: 2px solid #ffffff;
    border-radius: 50px;
    padding: 2vh 2vw;
    background-color: transparent;
    font-size: 0.9em;
    color: #ffffff;
    height: 8vh;
    font-family: 'Dunbar Text', sans-serif;
    transition: 0.2s ease-in-out;
    max-width: 15vw;
    cursor: pointer;
    &:hover{
        transition: 0.2s ease-in-out;
        background-color: #F16F51;
        border: #F16F51 2px solid;
    }
}
@media only screen and (max-width: 860px) {
    button{
        min-width: 145px;
        height: 50px;
        padding: 1vh 2vw;
    }
}

h1, h2, h3, span{
    font-family: "lust-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.1em;
}

span{
    font-size: 1em;
    color: #F16F51;
}

h1{
    color: #F16F51;
}

h2{
    color: #ffffff;
}

h3{
    color: transparent;
    -webkit-text-stroke: 0.3px #ffffff;
}

p{
    font-family: 'Dunbar Text', sans-serif;
    font-size: 0.9em;
    color: #ffffff;
}

body{
    font-size: 20px;
    overflow-x: hidden;
    background-color: #000000;
    header{
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #000;
        height: 15vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3vh 4vw;
        border-bottom: 2px solid #F16F51;
        .logo{
            svg{
                width: 80%;
            }
        }
        .nav{
            gap: 2vw;
            display: flex;
            align-items: center;
            nav{
                ul{
                    display: flex;
                    flex-direction: row;
                    li{
                        padding: 0 1vw;
                        list-style: none;
                        a{
                            text-decoration: none;
                            color: #ffffff;
                            transition: 0.2s ease-in-out;
                            font-family: 'Dunbar Text', sans-serif;
                            font-size: 0.9em;
                            &:hover{
                                transition: 0.2s ease-in-out;
                                color: #F16F51;
                            }
                        }
                    }
                }
            }
            .picto_nav{
                display: none;
            }
        }
    }
    .text_img{
        display: flex;
        height: 85vh;
        width: 100vw;
        align-items: center;
        .cta_box{
            gap: 10px;
            display: flex;
            flex-direction: column;
            padding: 0 4vw;
            width: 50vw;
            p{
                position: relative;
                top: 3vh;
            }
            button{
                position: relative;
                top: 9vh;
            }
        }
        .img_cta{
            width: 50vw;
            display: flex;
            justify-content: center;
            img{
                filter: saturate(0);
                transition: 0.2s ease-in-out;
            }
            img:hover{
                filter: saturate(1);
            }
        }
    }
    .slider_text{
        overflow-x: hidden;
        height: 17vh;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        padding: 5vh 0;
        display: flex;
        gap: 75px;
        align-items: center;
        h3{
            min-width: 70vw;
        }
    }
    .cabinet_section{
        height: 100vh;
        width: 100vw;
        border-bottom: #F16F51 2px solid;
        .img_cta{
            width: auto;
            height: 100vh;
        }
    }
    .solution_section{
        height: 150vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F8CDC5;
        h2, p, button{
            color: #000;
        }
        button{
            border: #000 2px solid;
            &:hover{
                background-color: #000;
                color: #ffffff;
            }
        }
        .text_solution{
            padding-top: 10vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 50vw;
            h2{
                width: 40vw;
                margin-bottom: 3vh;
            }
        }
        .box_solution{
            display: flex;
            align-items: center;
            gap: 80px;
            height: 55vh;
            div{
                width: 25vw;
                height: 30vh;
                background-color: #ffffff;
                border: 2px solid #000000;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 4vh 4vh;
                h4{
                    transition: 0.3s all ease-in-out;
                    color: #000;
                    font-family: dunbar-low, sans-serif;
                    font-weight: 600;
                    letter-spacing: 2px;
                    font-style: normal;
                    text-transform: uppercase;
                    font-size: 1.4em;
                }
                p{
                    transition: 0.3s all ease-in-out;
                    color: transparent;
                    font-size: 0.8em;
                    margin-top: 2vh;
                }
                img{
                    transition: 0.3s all ease-in-out;
                    transform: translate(3vh, -12vh);
                }
                &:hover{
                    h4{
                        transition: 0.4s all ease-in-out;
                        color: #F16F51;
                    }
                    p{
                        transition: 0.4s all ease-in-out 0.2s;
                        color: #000;
                    }
                    img{
                        transition: 0.4s all ease-in-out;
                        transform: translate(6vh, 2vh);
                    }
                }
            }
        }
        .devis_box{
            position: relative;
            background-color: #F1AA9D;
            border: 3px #F16F51 solid;
            margin-top: 15vh;
            height: 40vh;
            width: 70vw;
            display: flex;
            padding: 5vh 0;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .devis_title{
                text-align: center;
                width: 60vw;
            }
            img{
                position: absolute;
                left: 0;
                bottom: 0;
            }
        } 
    }
    footer{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100vw;
        height: 85vh;
        div{
            width: 50vw;
            height: 82vh;
        }
        .info{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #fff;
            gap: 5vh;
            img{
                width: 20vw;
            }
            ul{
                gap: 30px;
                display: flex;
                flex-direction: column;
                list-style: none;
                li{
                    display: flex;
                    gap: 15px;
                    align-items: center;
                }
                li:nth-child(1){
                    &::before{
                        content: "";
                        width: 25px;
                        height: 25px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-image: url(../img/icone-footer-location.svg);
                    }
                }
                li:nth-child(2){
                    &::before{
                        content: "";
                        width: 25px;
                        height: 25px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-image: url(../img/icone-footer-mail.svg);
                    }
                }
                li:nth-child(3){
                    &::before{
                        content: "";
                        width: 25px;
                        height: 25px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-image: url(../img/icone-footer-telephone.svg);
                    }
                }
            }
        }
        .newsletter{
            padding: 20vh 10vw 0 0;
            display: flex;
            flex-direction: column;
            gap: 5vh;
            p{
                margin-top: -3vh;
            }
            input{
                padding: 2vh 1vw;
                background-color: #F8CDC5;
                border: #F16F51 3px solid;
                color: #000;
                &::placeholder{
                    color: #000;
                    font-weight: 500;
                }
            }
        }
        .credit{
            height: 3vh;
            position: absolute;
            bottom: 1vh;
            display: flex;
            gap: 10px;
            font-family: "filson-pro", sans-serif;
            font-weight: 200;
            font-style: normal;
            &::before{
                content: "";
                width: 25px;
                height: 25px;
                background-size: cover;
                background-image: url(../img/expertsa-logo-micro-blanc.svg);
            }
        }
        svg{
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}


@media only screen and (max-width: 860px) {
    body{
        font-size: 17px;
        header{
            padding: 3vh 7vw;
            .nav{
                nav{
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: 0.4s all ease-in-out 0.25s;
                    ul{
                        flex-direction: column;
                        gap: 3vh;
                        li{
                            font-size: 0px;
                            transition: 0.4s all ease-in-out;
                        }
                    }
                }
                .burgerActive{
                    border-bottom: 2px solid #F16F51;
                    background-color: #000000;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 50vh;
                    padding: 15vh 15vw 0;
                    transition: 0.4s all ease-in-out;
                    ul{
                        li{
                            font-size: 1.4em;
                            transition: 0.4s all ease-in-out 0.25s;
                        }
                    }
                }
                .picto_nav{ 
                    z-index: 50;
                    display: flex;
                    position: absolute;
                    left: 50vw;
                    transform: translateX(-50%);
                    width: 35px;
                    height: 35px;
                    cursor: pointer;
                    .line{
                        position: absolute; 
                        right: 0; 
                        height: 3px; 
                        &:nth-child(1){ 
                            top: 0; 
                            width: 100%;
                            background-color: #F16F51;
                            transition: 1s all ease-in-out;
                        }
                        &:nth-child(2){ 
                            top: 50%; 
                            margin-top: -1px; 
                            width: 100%;
                            background-color: #F16F51;
                            transition: 1s all ease-in-out;
                        }
                        &:nth-child(3){ 
                            bottom: 0;
                            margin-top: -1px; 
                            width: 100%;
                            background-color: #F16F51;
                            transition: 1s all ease-in-out;
                        }
                    }
                }
                .burgerClose{
                    z-index: 50;
                    .line:nth-child(1){
                        transform: rotate(-130deg);
                        height: 2px;
                        width: 100%;
                        display: block;
                        top: 50%;
                        position: absolute;
                        transition: 1s all ease-in-out;
                    }
                    .line:nth-child(2){
                        display: block;
                        width: 0;
                        transition: 0.4s all ease-in-out;
                    }
                    .line:nth-child(3){
                        transform: rotate(130deg);
                        height: 2px;
                        width: 100%;
                        display: block;
                        position: absolute;
                        top: 50%;
                        transition: 1s all ease-in-out;
                    }
                }
            }
        }
        .text_img{
            flex-direction: column;
            .cta_box{
                width: 100vw;
                padding: 10vh 7vw;
                p{
                    top: 2vh;
                }
                button{
                    top: 3vh;
                }
            }
            .img_cta{
                z-index: -50;
                position: relative;
                top: -40vh;
                width: 100vw;
                img{
                    max-width: 100vw;
                    filter: blur(15px) saturate(0) opacity(0.7);
                }
                img:hover{
                    filter: blur(15px) saturate(1);
                }
            }
        }
        .slider_text{
            gap: 10px !important;
            height: 15vh;
            h3:last-child{
                display: none;
            }
            h3{
                font-size: 1.1em;
                min-width: 106vw;
            }
        }
        .cabinet_section{
            .img_cta{
                display: none;
            }
        }
        .solution_section{
            height: 230vh;
            .text_solution{
                width: 90vw !important;
                h2{
                    width: 80vw !important;
                }
            }
            .box_solution{
                margin: 8vh 0;
                flex-direction: column;
                width: 90vw !important;
                gap: 100px;
                div{
                    width: 80vw;
                }
            }
            .devis_box{
                margin-top: 70vh;
                width: 80vw;
                h2{
                    font-size: 1.8em;
                }
                h2, button{
                    z-index: 10;
                }
                img{
                    z-index: 5;
                }
            }
        }
        footer{
            flex-direction: column;
            width: 100vw;
            height: 120vh;
            align-items: center;
            justify-content: space-evenly;
            .info{
                width: 100vw;
            }
            .newsletter{
                padding: 0 0;
            }
            .credit{
                font-size: 0.6em;
                &::before{
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
}